.complete {
  text-decoration: line-through;
}

.parent-div {
  border: 1px solid #ddd;
  display: table;
  min-width: 200px;
  margin: auto;
  background: #fff;
  text-align: left;
  margin-top: 2px;
  padding: 10px;
}
.parent-div > label {
  font-size: 14px;
  font-weight: bold;
}
